@model CRUDATM.Models.UFS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UFS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UfSigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UfSigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UfNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UfNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UfID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
